<div class="game_wrapper">
  <h1>HANGMAN</h1>
  <img src="images/hangman<%= @guesses %>.png" height='293' width='220'>
  <p class="hidden"><%= @hidden.upcase %></p>
  <h3>Wins/Losses: <%= @wins %> / <%= @losses %></h3>

  <form action="/" method="post">
    <% if @next_game %>
      <button class="unpicked" formmethod="post" name="action" value="next">
        <%= @button_text %></button>
    <% else %>
        <input class="text-input" type="text" name="guess" size="15" value=""/>
        <button class="unpicked guess" formmethod="post">Guess!</button>
      <br>
      <% ('A'..'Z').each do |l| %>
        <% if @letters.include?(l.downcase) %>
          <button class="picked letter" formmethod="post" name="guess" value="<%= l %>" disabled>
          <%= l %></button>
        <% else %>
          <button class="unpicked letter" formmethod="post" name="guess" value="<%= l %>">
          <%= l %></button>
        <% end %>
      <% end %>
    <% end %>
  </form>
  <br>
</div>
