<div class="game_wrapper">
  <p>HANGMAN</p>
  <h2><%= @word %></h2>
  <h1><%= @hidden.upcase %></h1>
  <h2>Guesses: <%= @guesses %></h2>
  <h3>Wins/Losses <%= @wins %> / <%= @losses %></h3>

  <form action="/" method="post">
    <% ('A'..'Z').each do |l| %>
      <% if @letters.include?(l.downcase) %>
        <button class="picked" formmethod="post" name="guess" value="<%= l %>" disabled>
        <%= l %></button>
      <% else %>
        <button class="unpicked" formmethod="post" name="guess" value="<%= l %>">
        <%= l %></button>
      <% end %>
    <% end %>
  </form>
</div>
